## Importing and Exporting Stock Price Data from Yahoo Finance

In [2]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [3]:
ticker = ["AAPL", "BA", "KO", "IBM", "DIS", "MSFT"]

In [14]:
stocks = yf.download(ticker, start = "2010-01-01", end = "2020-09-01" )

[*********************100%***********************]  6 of 6 completed

In [22]:
yf.download(ticker, start = "2010-01-01", end = "2019-02-06")

[*********************100%***********************]  6 of 6 completed

            Adj Close                                                 \
                 AAPL          BA         DIS         IBM         KO
Date
2010-01-04   6.604801   43.441975   27.933924   93.500313  19.118578
2010-01-05   6.616219   44.864773   27.864237   92.370834  18.887300
2010-01-06   6.510980   46.225727   27.716166   91.770790  18.880596
2010-01-07   6.498945   48.097031   27.724878   91.453102  18.833670
2010-01-08   6.542150   47.633064   27.768419   92.370834  18.485090
...               ...         ...         ...         ...        ...
2019-01-30  40.422104  376.746277  108.800331  123.606735  45.572746
2019-01-31  40.713184  374.705688  110.173546  123.643517  45.829834
2019-02-01  40.732758  376.464508  109.956207  123.349197  46.372601
2019-02-04  41.889771  385.763641  110.450172  124.351791  46.896317
2019-02-05  42.606483  398.570557  111.299789  124.682930  46.905838

                            Close                                      ...  \
                  MSFT       AAPL          BA         DIS         IBM  ...
Date                                                                   ...
2010-01-04   24.168472   7.643214   56.180000   32.070000  132.449997  ...
2010-01-05   24.176279   7.656428   58.020000   31.990000  130.850006  ...
2010-01-06   24.027906   7.534643   59.779999   31.820000  130.000000  ...
2010-01-07   23.778025   7.520714   62.200001   31.830000  129.550003  ...
2010-01-08   23.942017   7.570714   61.599998   31.879999  130.850006  ...
...                ...        ...         ...         ...         ...  ...
2019-01-30  104.002670  41.312500  387.720001  110.129997  134.380005  ...
2019-01-31  102.096245  41.610001  385.619995  111.519997  134.419998  ...
2019-02-01  100.483116  41.630001  387.429993  111.300003  134.100006  ...
2019-02-04  103.376968  42.812500  397.000000  111.800003  135.190002  ...
2019-02-05  104.823891  43.544998  410.179993  112.660004  135.550003  ...

                  Open                                        Volume  \
                   DIS         IBM         KO        MSFT       AAPL
Date
2010-01-04   32.500000  131.179993  28.580000   30.620001  493729600
2010-01-05   32.070000  131.679993  28.424999   30.850000  601904800
2010-01-06   31.900000  130.679993  28.174999   30.879999  552160000
2010-01-07   31.770000  129.869995  28.165001   30.629999  477131200
2010-01-08   31.660000  129.070007  27.730000   30.280001  447610800
...                ...         ...        ...         ...        ...
2019-01-30  110.300003  134.000000  47.250000  104.620003  244439200
2019-01-31  110.099998  134.449997  47.849998  103.800003  162958400
2019-02-01  111.970001  134.970001  48.480000  103.779999  130672400
2019-02-04  111.410004  134.020004  48.700001  102.870003  125982000
2019-02-05  112.019997  135.279999  49.330002  106.059998  144406400


                  BA       DIS      IBM        KO      MSFT
Date
2010-01-04   6186700  13700400  6155300  13870400  38409100
2010-01-05   8867800  10307700  6841400  23172400  49749600
2010-01-06   8836500  10709500  5605300  19264600  58182400
2010-01-07  14379100   8202100  5840600  13234600  50559700
2010-01-08   7146600   7657500  4197200  28712400  51197400
...              ...       ...      ...       ...       ...
2019-01-30  12705300   7853800  4500900  12952500  49471900
2019-01-31   6878500   8351600  4884000  32181500  55636400
2019-02-01   5625700   6557700  3806000  19130100  35535700
2019-02-04   4256600   7037000  3966600  15105700  31315100
2019-02-05   7230400  13619800  5398900  12651900  27325400

[2288 rows x 36 columns]

In [23]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2010-01-04  6.604801  43.441975  27.933924  93.500313  19.118578  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.887300  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.880596  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.833670  23.778025
2010-01-08  6.542150  47.633064  27.768419  92.370834  18.485090  23.942017

               Close                                    ...   Open  \
                AAPL         BA        DIS         IBM  ...    DIS
Date                                                    ...
2010-01-04  7.643214  56.180000  32.070000  132.449997  ...  32.50
2010-01-05  7.656428  58.020000  31.990000  130.850006  ...  32.07
2010-01-06  7.534643  59.779999  31.820000  130.000000  ...  31.90
2010-01-07  7.520714  62.200001  31.830000  129.550003  ...  31.77
2010-01-08  7.570714  61.599998  31.879999  130.850006  ...  31.66

                                                 Volume                      \
                   IBM         KO       MSFT       AAPL        BA       DIS
Date
2010-01-04  131.179993  28.580000  30.620001  493729600   6186700  13700400
2010-01-05  131.679993  28.424999  30.850000  601904800   8867800  10307700
2010-01-06  130.679993  28.174999  30.879999  552160000   8836500  10709500
2010-01-07  129.869995  28.165001  30.629999  477131200  14379100   8202100
2010-01-08  129.070007  27.730000  30.280001  447610800   7146600   7657500


                IBM        KO      MSFT
Date
2010-01-04  6155300  13870400  38409100
2010-01-05  6841400  23172400  49749600
2010-01-06  5605300  19264600  58182400
2010-01-07  5840600  13234600  50559700
2010-01-08  4197200  28712400  51197400

[5 rows x 36 columns]

In [24]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2684 entries, 2010-01-04 to 2020-08-31
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2684 non-null   float64
 1   (Adj Close, BA)    2684 non-null   float64
 2   (Adj Close, DIS)   2684 non-null   float64
 3   (Adj Close, IBM)   2684 non-null   float64
 4   (Adj Close, KO)    2684 non-null   float64
 5   (Adj Close, MSFT)  2684 non-null   float64
 6   (Close, AAPL)      2684 non-null   float64
 7   (Close, BA)        2684 non-null   float64
 8   (Close, DIS)       2684 non-null   float64
 9   (Close, IBM)       2684 non-null   float64
 10  (Close, KO)        2684 non-null   float64
 11  (Close, MSFT)      2684 non-null   float64
 12  (High, AAPL)       2684 non-null   float64
 13  (High, BA)         2684 non-null   float64
 14  (High, DIS)        2684 non-null   float64
 15  (High, IBM)        2684 non-null   float64
 16  (High, KO)         2684 non-null   float64
 17  (High, MSFT)       2684 non-null   float64
 18  (Low, AAPL)        2684 non-null   float64
 19  (Low, BA)          2684 non-null   float64
 20  (Low, DIS)         2684 non-null   float64
 21  (Low, IBM)         2684 non-null   float64
 22  (Low, KO)          2684 non-null   float64
 23  (Low, MSFT)        2684 non-null   float64
 24  (Open, AAPL)       2684 non-null   float64
 25  (Open, BA)         2684 non-null   float64
 26  (Open, DIS)        2684 non-null   float64
 27  (Open, IBM)        2684 non-null   float64
 28  (Open, KO)         2684 non-null   float64
 29  (Open, MSFT)       2684 non-null   float64
 30  (Volume, AAPL)     2684 non-null   int64
 31  (Volume, BA)       2684 non-null   int64
 32  (Volume, DIS)      2684 non-null   int64
 33  (Volume, IBM)      2684 non-null   int64
 34  (Volume, KO)       2684 non-null   int64
 35  (Volume, MSFT)     2684 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 775.8 KB

In [25]:
# Export data to csv file
stocks.to_csv("stocks.csv")

In [26]:
stocks = pd.read_csv("stocks.csv", header = [0, 1], index_col = [0], parse_dates = [0])

In [28]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2010-01-04  6.604801  43.441975  27.933924  93.500313  19.118578  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.887300  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.880596  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.833670  23.778025
2010-01-08  6.542150  47.633064  27.768419  92.370834  18.485090  23.942017

               Close                                    ...   Open  \
                AAPL         BA        DIS         IBM  ...    DIS
Date                                                    ...
2010-01-04  7.643214  56.180000  32.070000  132.449997  ...  32.50
2010-01-05  7.656428  58.020000  31.990000  130.850006  ...  32.07
2010-01-06  7.534643  59.779999  31.820000  130.000000  ...  31.90
2010-01-07  7.520714  62.200001  31.830000  129.550003  ...  31.77
2010-01-08  7.570714  61.599998  31.879999  130.850006  ...  31.66

                                                 Volume                      \
                   IBM         KO       MSFT       AAPL        BA       DIS
Date
2010-01-04  131.179993  28.580000  30.620001  493729600   6186700  13700400
2010-01-05  131.679993  28.424999  30.850000  601904800   8867800  10307700
2010-01-06  130.679993  28.174999  30.879999  552160000   8836500  10709500
2010-01-07  129.869995  28.165001  30.629999  477131200  14379100   8202100
2010-01-08  129.070007  27.730000  30.280001  447610800   7146600   7657500


                IBM        KO      MSFT
Date
2010-01-04  6155300  13870400  38409100
2010-01-05  6841400  23172400  49749600
2010-01-06  5605300  19264600  58182400
2010-01-07  5840600  13234600  50559700
2010-01-08  4197200  28712400  51197400

[5 rows x 36 columns]

In [29]:
stocks.columns = stocks.columns.to_flat_index()
stocks.columns

Index([('Adj Close', 'AAPL'),   ('Adj Close', 'BA'),  ('Adj Close', 'DIS'),
        ('Adj Close', 'IBM'),   ('Adj Close', 'KO'), ('Adj Close', 'MSFT'),
           ('Close', 'AAPL'),       ('Close', 'BA'),      ('Close', 'DIS'),
            ('Close', 'IBM'),       ('Close', 'KO'),     ('Close', 'MSFT'),
            ('High', 'AAPL'),        ('High', 'BA'),       ('High', 'DIS'),
             ('High', 'IBM'),        ('High', 'KO'),      ('High', 'MSFT'),
             ('Low', 'AAPL'),         ('Low', 'BA'),        ('Low', 'DIS'),
              ('Low', 'IBM'),         ('Low', 'KO'),       ('Low', 'MSFT'),
            ('Open', 'AAPL'),        ('Open', 'BA'),       ('Open', 'DIS'),
             ('Open', 'IBM'),        ('Open', 'KO'),      ('Open', 'MSFT'),
          ('Volume', 'AAPL'),      ('Volume', 'BA'),     ('Volume', 'DIS'),
           ('Volume', 'IBM'),      ('Volume', 'KO'),    ('Volume', 'MSFT')],
      dtype='object')

In [30]:
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

In [31]:
stocks.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2010-01-04  6.604801  43.441975  27.933924  93.500313  19.118578  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.887300  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.880596  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.833670  23.778025
2010-01-08  6.542150  47.633064  27.768419  92.370834  18.485090  23.942017

               Close                                    ...   Open  \
                AAPL         BA        DIS         IBM  ...    DIS
Date                                                    ...
2010-01-04  7.643214  56.180000  32.070000  132.449997  ...  32.50
2010-01-05  7.656428  58.020000  31.990000  130.850006  ...  32.07
2010-01-06  7.534643  59.779999  31.820000  130.000000  ...  31.90
2010-01-07  7.520714  62.200001  31.830000  129.550003  ...  31.77
2010-01-08  7.570714  61.599998  31.879999  130.850006  ...  31.66

                                                 Volume                      \
                   IBM         KO       MSFT       AAPL        BA       DIS
Date
2010-01-04  131.179993  28.580000  30.620001  493729600   6186700  13700400
2010-01-05  131.679993  28.424999  30.850000  601904800   8867800  10307700
2010-01-06  130.679993  28.174999  30.879999  552160000   8836500  10709500
2010-01-07  129.869995  28.165001  30.629999  477131200  14379100   8202100
2010-01-08  129.070007  27.730000  30.280001  447610800   7146600   7657500


                IBM        KO      MSFT
Date
2010-01-04  6155300  13870400  38409100
2010-01-05  6841400  23172400  49749600
2010-01-06  5605300  19264600  58182400
2010-01-07  5840600  13234600  50559700
2010-01-08  4197200  28712400  51197400

[5 rows x 36 columns]

In [32]:
stocks.swaplevel(axis = 1).sort_index(axis = 1)

                  AAPL                                                  \
             Adj Close       Close        High         Low        Open
Date
2010-01-04    6.604801    7.643214    7.660714    7.585000    7.622500
2010-01-05    6.616219    7.656428    7.699643    7.616071    7.664286
2010-01-06    6.510980    7.534643    7.686786    7.526786    7.656428
2010-01-07    6.498945    7.520714    7.571429    7.466072    7.562500
2010-01-08    6.542150    7.570714    7.571429    7.466429    7.510714
...                ...         ...         ...         ...         ...
2020-08-25  124.824997  124.824997  125.180000  123.052498  124.697502
2020-08-26  126.522499  126.522499  126.992500  125.082497  126.180000
2020-08-27  125.010002  125.010002  127.485001  123.832497  127.142502
2020-08-28  124.807503  124.807503  126.442497  124.577499  126.012497
2020-08-31  129.039993  129.039993  131.000000  126.000000  127.580002

                               BA                                      ...  \
               Volume   Adj Close       Close        High         Low  ...
Date                                                                   ...
2010-01-04  493729600   43.441975   56.180000   56.389999   54.799999  ...
2010-01-05  601904800   44.864773   58.020000   58.279999   56.000000  ...
2010-01-06  552160000   46.225727   59.779999   59.990002   57.880001  ...
2010-01-07  477131200   48.097031   62.200001   62.310001   59.020000  ...
2010-01-08  447610800   47.633064   61.599998   61.779999   60.860001  ...
...               ...         ...         ...         ...         ...  ...
2020-08-25  211495600  174.729996  174.729996  180.630005  172.440002  ...
2020-08-26  163022400  171.899994  171.899994  174.429993  171.350006  ...
2020-08-27  155552400  174.199997  174.199997  181.309998  173.559998  ...
2020-08-28  187630000  175.800003  175.800003  177.279999  172.570007  ...
2020-08-31  225702700  171.820007  171.820007  175.270004  171.699997  ...

                   KO                                        MSFT              \
                 High        Low       Open    Volume   Adj Close       Close
Date
2010-01-04  28.610001  28.450001  28.580000  13870400   24.168472   30.950001
2010-01-05  28.495001  28.070000  28.424999  23172400   24.176279   30.959999
2010-01-06  28.219999  27.990000  28.174999  19264600   24.027906   30.770000
2010-01-07  28.184999  27.875000  28.165001  13234600   23.778025   30.450001
2010-01-08  27.820000  27.375000  27.730000  28712400   23.942017   30.660000
...               ...        ...        ...       ...         ...         ...
2020-08-25  48.049999  47.650002  48.000000   7827800  216.470001  216.470001
2020-08-26  48.180000  47.470001  47.759998  10124200  221.149994  221.149994
2020-08-27  48.820000  48.200001  48.250000  10931600  226.580002  226.580002
2020-08-28  49.849998  48.529999  48.750000  16420300  228.910004  228.910004
2020-08-31  50.070000  49.349998  49.799999  18510800  225.529999  225.529999


                  High         Low        Open    Volume
Date
2010-01-04   31.100000   30.590000   30.620001  38409100
2010-01-05   31.100000   30.639999   30.850000  49749600
2010-01-06   31.080000   30.520000   30.879999  58182400
2010-01-07   30.700001   30.190001   30.629999  50559700
2010-01-08   30.879999   30.240000   30.280001  51197400
...                ...         ...         ...       ...
2020-08-25  216.610001  213.100006  213.100006  23043700
2020-08-26  222.089996  217.360001  217.880005  39600800
2020-08-27  231.149994  219.399994  222.889999  57602200
2020-08-28  230.639999  226.580002  228.179993  26292900
2020-08-31  228.699997  224.309998  227.000000  28774200

[2684 rows x 36 columns]